<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Order Date</th>
      <th>Order Details</th>
      <th>Order Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of list;">
      <td>{{order.customer.customerName}}</td>
      <td>{{order.orderDate}}</td>
      <td>{{order.orderDetail}}</td>
      <td>{{order.orderAmount}}</td>
    </tr>
    
  </tbody>
</table>