<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 services_box">
      Hierarchy
    </div>
    <div class="col-md-4 services_box">
     <a  routerLink="/customer" >Customer</a> 
    </div>
    <div  class="col-md-4 services_box">
     <a routerLink="/orders" >Orders</a> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 services_box">
      Schedules
    </div>
    <div class="col-md-4 services_box">
    Messages 
    </div>
    <div class="col-md-4 services_box">
      Email
    </div>
  </div>
</div>